<header>
	<img src="{{ root_url }}/Assets/Nemo Banner.png" class="logo">
	<nav>
		<div>
			<a href="https://naomiwiren.com/">About Me</a>
			<a href="https://naomiwiren.com/projects">Projects</a>
			<a href="https://naomiwiren.com/blog">Blog</a>
			<a href="https://naomiwiren.com/Files/CV.pdf" target="_blank">CV</a>
			<a href="https://naomiwiren.com/Files/Cover Letter.pdf" target="_blank">Cover Letter</a> <!-- Remove after submission -->
		</div>
	</nav>
</header>
<div class="nav-offset"></div>

